# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Thomas Romera
	email = me@thomas-romera.com
[push]
	default = simple
[core]
	editor = subl -n -w
[pull]
	rebase = true
